.header {
  overflow: auto;
  padding: 34px 0;
}

.header-title {
  float: left;
  font-size: 16px;
  font-weight: 500;
  &.header-title--brand {
    opacity: 1;
  }
}

.header-infos {
  float: right;
}

a.header-infos {
  text-decoration: none;
  color: rgba(0, 0, 0, .4);

  &:hover {
    color: rgba(0, 0, 0, .8);
  }
}

.header-infos-avatar {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: $purple;
  display: inline-block;
  margin-left: 10px;
  color: $white;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
}

.header-breadcrumbs-item {
  position: relative;
  display: inline-block;
  text-decoration: none;
  opacity: 0.4;
  color: $black;
}

a.header-breadcrumbs-item {
  &:hover {
    opacity: 0.6;
  }
}

.header-breadcrumbs-item + .header-breadcrumbs-item {
  margin-left: 40px;
  &:before {
    content: ">";
    position: absolute;
    left: -24px;
    opacity: 0.4;
  }
}
