.app,
.page-public {
  max-width: 784px;
  margin: 0 auto;
  padding-bottom: 200px;
}

.page-public {
  margin-top: 40px;
}

.page-title {
  font-size: 26px;
}

.footer {
  padding: 20px 0;
  border-top: 1px solid #E0E0E0;
  color: #666;
  margin-top: 80px;
}

.icon {
  width: 21px;
  height: 21px;
}

p {
  margin: 0 0 6px 0;
}

.text-muted {
  opacity: .4;
}
