/* Fonts */
$font-family: "Roboto Mono", 'Helvetica', arial, sans-serif;
$font-size-base: 14px;

/* Colors */
$black: #000000;
$white: #ffffff;
$purple: #9000FE;
$green: #7ED321;
$green-light: #DBFFA5;
$orange: #F5A623;
$orange-light: rgba(245, 166, 35, 0.3);
