.btn {
  display: inline-block;
  padding: 10px 20px;
  min-width: 120px;
  font-weight: 500;
  -webkit-appearence: none;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  height: 46px;
  line-height: 24px;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: progress;
    opacity: .6;
  }
}

.btn-default {
  color: black;
  border: 2px solid black;
  &:hover {
    color: $purple;
    border-color: $purple;
  }
}

.btn-primary {
  background-color: $black;
  color: $white;
  border: 2px solid $black;
  &:hover {
    background-color: $purple;
    border-color: $purple;
  }
}

.btn + .btn {
  margin-left: 10px;
}
