h1.checklists-index-h1 {
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
}

ul.checklists-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 -3%;
}

li.checklists-list-item {
  margin: 0;
  padding: 0;
  width: 27.3333%;
  height: 282px;
  float: left;
  border-radius: 4px;
  margin: 0 3%;
  display: flex;
  overflow: hidden;
  margin-bottom: 2em;
}

li.checklists-list-item--new {
  position: relative;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.04), inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  &::before {
    content: " ";
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 60px;
    right: 60px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
  }
}

a.checklists-list-item-content--new {
  z-index: 1;
  width: 100%;
  padding-top: 130px;
  text-align: center;
  font-size: 20px;
  color: $black;
  line-height: 26px;
  text-decoration: none;
  &:hover {
    color: $purple;
  }
}

li.checklists-list-item--show {
  background: rgba(0, 0, 0, 0.02);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.checklists-list-item--default,
.checklists-list-item--options {
  background: white;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.03);
  position: relative;
  display: block;
  padding: 20px;
  flex: 1;
  border-radius: 4px;
  margin-bottom: 4px;
}

.checklists-list-item-content-plus {
  font-size: 62px;
  font-weight: 300;
  padding: 30px 0;
}

.checklists-list-item-title {
  margin-top: 25px;
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.checklists-list-item-subtitle {
  opacity: 0.3;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.checklists-list-item-counters {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #d8d8d8;
}

.checklists-list-item-counters-item {
  width: 33.3333%;
  padding: 10px 20px;
  float: left;
  text-align: center;
}

.checklists-list-item-counters-item-count {
  font-size: 30px;
  font-weight: 300;
}

.checklists-list-item-counters-item-label {
  font-size: 12px;
}

.checklists-list-item-counters-btn {
  margin: 20px;
  margin-top: 0;
  display: block;
}

.checklists-list-item-show-options,
.checklists-list-item-close-options {
  position: absolute;
  right: 4px;
  top: 8px;
  font-weight: 500;
  font-size: 10px;
  color: $black;
  line-height: 13px;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  > span {
    vertical-align: top;
    opacity: 0;
  }
  > .icon {
    opacity: 0.1;
  }
  &:hover {
    > span {
      opacity: 0.2;
    }
  }
}

.checklists-list-item-close-options {
  right: 8px;
}

.checklists-list-item-actions {
  > a {
    display: block;
    text-decoration: none;
    padding: 20px 10px;
    border-bottom: 1px solid #d8d8d8;
    font-size: 20px;
    color: $black;
    &:hover {
      color: $purple;
    }
    > .icon {
      margin-right: 10px;
      vertical-align: -3px;
    }
  }
  > a:first-child {
    margin-top: -15px;
  }
  > a:last-child {
    border-bottom: none;
    opacity: 0.4;
  }
}

.checklists-new {
  padding-bottom: 200px;
}

.checklists-new-label {
  display: block;
  font-size: 16px;
  margin-bottom: 24px;
}

.checklists-new-input {
  padding: 20px 14px;
  margin-top: 10px;
  width: 100%;
  background: white;
  border: 1px solid #979797;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.18);
  border-radius: 2px;
  min-height: 58px;
}
