ul.projects-list {
  margin: 0 -3%;
  padding: 0;
}

li.projects-list-item {
  width: 248px;
  height: 173px;
  width: 27.3333%;
  float: left;
  border-radius: 0 4px 4px 4px;
  margin: 0 3%;
  display: flex;
  margin-bottom: 2em;
}

li.projects-list-item--show {
  padding-top: 10px;
  margin-top: 20px;
  background-color: #f3f3f3;
  position: relative;
  &:hover {
    .projects-list-item-title {
      color: purple;
      transition: color 0.2s;
    }
  }
  &::before {
    content: " ";
    position: absolute;
    width: 70px;
    height: 15px;
    border-radius: 4px 4px 0 0 / 4px 4px 0 0;
    background-color: #f3f3f3;
    position: absolute;
    top: -15px;
    left: 0;
    z-index: -1;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  }
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 0 4px 4px 4px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  }
}

.projects-list-item-patch {
  position: absolute;
  height: 5px;
  width: 70px;
  background-color: #f3f3f3;
  top: -3px;
  border-radius: 0 3px 0px 0;
}

li.projects-list-item--new {
  margin-top: 5px;
  margin-bottom: -5px;
  height: 190px;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.04), inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  > .projects-list-item-content--new {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    height: 100%;
  }
  &:hover > .projects-list-item-content--new {
    color: purple;
  }
}

.projects-list-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.projects-list-item-title {
  display: flex;
  width: 100%;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  color: black;
}

.projects-list-item-bottom {
  flex: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 4px;
  opacity: 0.27;
  font-weight: 600;
  font-size: 12px;
  color: black;
  line-height: 14px;
}
